.contact {
    padding: 100px 10px 10px 200px;
    .gtintouch {
        color: #beaa8c;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
    }

    #cname, #cemail, #csubject, #cmessage {
        width: 350px;
        height: 35px;
        border: none;
        background: rgba(0, 0, 0, 0.2);
        outline: none;
        margin-top: 20px;
        font-size: 1.2em;
        padding: 5px;
        color: rgb(157, 67, 160);
        font-family: 'Courier New', Courier, monospace;
        margin-left: 10px;
    }

    #csubject {
        width: 720px;
    }

    #cmessage {
        display: block;
        width: 720px;
        height: 200px;
        resize: none;
    }
}