<div class="cv">
  <a [routerLink]="['/home']" class="backtonav">
      <span>&#x02190;</span> <span class="btntext">Back to home</span>
  </a>
  <div class="left">
    <div class="cv-left-tile">
      <div class="cv-fname">
        Vineet
      </div>
      <div class="cv-lname">
          Kumar
      </div>
      <div class="jobtitle">
        Staff Software Developer | Full stack developer
      </div>
      <div class="cvimage" > </div>
      <div class="hbar whyme"></div>
    </div>

    <div class="cv-left-tile">
      <div class="whymetext">
          Aim to work in a challenging work environment where I can utilize my expertise in technical skills, towards the development and implementation of the new ideas, contributing to growth of the organization.
      </div>
    </div>
  </div>
  <div class="right">

  </div>
</div>