<nav>
    <a class="_logo_author" [routerLink]="['/home']">< / > VINEET KUMAR</a>
    <a [routerLink]="['/contact']" routerLinkActive="active"><span class="fa fa-address-book"></span><span>Contact Me</span></a>
    <a [routerLink]="['/blog']" routerLinkActive="active"><span class="fa fa-pencil-square-o"></span><span>Blog</span></a>
  <a [routerLink]="['/cv']" routerLinkActive="active"><span class="fa fa-file-word-o"></span><span>CV</span></a>
  <a [routerLink]="['/home']" routerLinkActive="active"><span class="fa fa-home"></span><span>Home</span></a>
</nav>