/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Jura');

html, body {
    margin: 0px;
    background: #2c3240;
    width: 100%;
    height: 100%;
}

*{
    transition: all 1s;
}

*::selection {
    background-color: #dc491d;
    color: #FFFFFF;
}
